@font-face {
  font-family: Melody-Medium;
  src: url(fonts/BLMelody-Bold.woff2);
}

@font-face {
  font-family: HKGrotesk;
  src: url(fonts/HKGroteskWide-Black.otf);
}

/* When the browser is at least 600px and above */
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 65% 1fr;
  height: 100vh;
}

.left-section {
  display: flex;
}

.right-section {
  display: flex;
}

.left-section h1 {
  font-family: Melody-Medium;
  /* font-family: HKGrotesk; */
  font-size: 12rem;
  align-self: flex-end;
}

.main-grid-container img {
  width: 24rem;
  align-self: center;
  justify-self: center;
}
