@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("/experimental/responsiveness/fonts/satoshi/css/satoshi.css");

@font-face {
  font-family: Melody-Medium;
  src: url(fonts/BLMelody-Bold.woff2);
}

@font-face {
  font-family: HKGrotesk;
  src: url(fonts/HKGroteskWide-Black.otf);
}

/* When the browser is at least 1200px and above */
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

nav {
  display: flex;
  font-size: 1rem;
  /* color: rgba(245, 222, 179, 0.6); */
  color: rgba(141, 139, 134, 0.6);
  justify-content: space-between;
  /* font-family: Melody-Medium; */
  font-family: "Satoshi-Bold";
  /* letter-spacing: 2px; */
  height: 10vh;
  align-items: center;
  padding: 0 9rem;
  /* background-color: #fef9f3; */
  /* background-color: #b2b2a8; */
  /* outline: 4px solid black; */
}

.first-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0 9rem;
  border-bottom: 1px grey solid;
}

.first-row h1 {
  color: whitesmoke;
  font-family: "Satoshi-Bold";
  /* font-size: 256px; */
  font-size: 16rem;
}

.second-row {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 40vh;
  margin: 0 9rem;
}

.title-links h1 {
  color: wheat;
  font-family: "Satoshi-Bold";
  /* font-size: 128px; */
  font-size: 8rem;
}

.second-row h3 {
  color: rgb(245, 239, 227);
  /* font-size: 64px; */
  font-size: 4rem;
  font-family: "Satoshi-Regular";
}

.title-links {
  display: flex;
  justify-content: space-between;
}

.title-links button {
  font-family: "Satoshi-Bold";
  height: fit-content;
  font-size: 18px;
  margin-top: 1.5rem;
  /* align-self: center; */
  padding: 12px 24px;
  border-radius: 16px;
  background-color: black;
  color: wheat;
  outline: 2px solid wheat;
}
