@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* top | right | bottom | left */
  margin: 60px 95px 130px 74px;
}

.title-text {
  background-color: #691a3f;
  color: whitesmoke;
  padding: 9px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-radius: 10px;
}

.nav-link {
  color: #691a3f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.nav-link:visited,
.nav-link:link,
a {
  text-decoration: none;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  /* background-color: whitesmoke; */
  background-color: rgb(248, 239, 239);
  padding: 15px 35px;
  border-radius: 10px;
}

/* #################### END OF NAVIGATION #################### */

.main-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-right: 100px;
  /* background-color: orange; */
}

.description {
  margin-top: 55px;
  margin-right: 70px;
  font-family: "Poppins", sans-serif;
}

.school-image {
  width: 750px;
}

#welcome-texts {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  line-height: 110%;
}

.first-line {
  font-size: 80px;
  color: #691a3f;
}

.second-line {
  font-size: 60px;
  color: #4a132d;
}

.third-line {
  font-size: 45px;
  color: #3c1025;
}

.large-welcome-text-container {
  margin-left: 100px;
}

.more-info-sign-up-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.more-info {
  font-family: "Lexend Deca", sans-serif;
  color: #691a3f;
  font-size: 18px;
  text-decoration: dotted;
}

.payments {
  font-family: "Lexend Deca", sans-serif;
  background-color: #249687;
  color: white;
  font-size: 18px;
  padding: 7px 12px;
}

.extra-links-image {
  width: 1000px;
}

.secondary-container {
  justify-content: space-between;
  /* top | right | bottom | left */
  margin: 0px 100px 0px 100px;
  display: flex;
  /* background-color: red; */
}

.maps-button {
  background-color: #691a3f;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 7px 14px;
}

.maps-button-div {
  margin-top: 30px;
  margin-left: 15px;
}

.secondary-right-container {
  margin-top: 60px;
}

.secondary-left-container {
  margin-top: 120px;
}

/* .underline {
  position: absolute;
  width: 180px;
} */
