@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* top | right | bottom | left */
  margin: 60px 60px 60px 40px;
}

.title-text {
  background-color: #691a3f;
  color: whitesmoke;
  padding: 9px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

a {
  color: #691a3f;
}

a:visited,
a:link {
  text-decoration: none;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
